div.header-main-end {
  display: flex;
  justify-content: flex-end;
}

div.header-main-end button{
  background-color: white;
  border: solid 2px #FFF;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-primary-main);
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.header-main-end button:hover{
  background-color: transparent ;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 7px 7px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

div.header-main-end-buttons-container button:first-child{
  border-radius: 14px 5px 5px 14px;
  margin-right: 5px;
}

div.header-main-end-buttons-container button.profile-exit {
  background-color: var(--color-danger-main);
  border-color: var(--color-danger-main);
  border-radius: 5px 14px 14px 5px;
  padding-inline: 5px;
  color: white;
}

div.header-main-end-buttons-container button.profile-exit:hover {
  background-color: var(--color-danger-darker);
  border-color: var(--color-danger-darker);
}
