
<app-header></app-header>

<section class="carrousel-container">
  <div class="carrousel">
    <div class="backdrop"></div>
    <div class="details container">
      <div class="row">
        <div class="col content-container">
          <h2>Help us to bring love to a pet</h2>
          <div class="content-container-buttons">
            <button class="button-special">ANNOUNCE</button>
            <button class="button-main">I WANT ADOPT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pets-home">
  <div class="container">
    <div class="row">
      <app-pet-card *ngFor="let pet of pets" class="col-6 col-md-4 col-xl-3" [pet]="pet"></app-pet-card>
    </div>
  </div>
</section>



