
<section class="carrousel-container">
  <div class="carrousel">
    <div class="backdrop"></div>
    <div class="details container">
      <div class="row">
        <div class="col content-container">
          <h2>Help us to bring love to a pet</h2>
          <div class="content-container-buttons">
            <button class="button-special">ANNOUNCE</button>
            <button class="button-main">I WANT ADOPT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pets-home">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-pet-container">
          <div class="card-pet-header">

          </div>
          <div class="card-pet-body">
            <span class="card-pet-body-title">
              <h2 class="card-pet-body-name">Caramelin</h2>
              <p class="card-pet-body-breed">Vira-lata</p>
            </span>
            <span class="card-pet-body-description">
              <p>Sex, Age, Needs</p>
              <p>Montes Claros - MG</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



