div.header-main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-inline: 55px;
  padding-block: 5px;
  background-color: var(--color-primary-main);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

div.header-main *{
  color: #FFF;
  user-select: none;
}

header nav a {
  padding-inline: 25px;
  font-size: 14px;
  font-weight: bolder;
}

h1 {
  font-family: Satisfy;
}


div.header-main-end button{
  background-color: white;
  border: none;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-primary-main);
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.header-main-end button:hover{
  border-radius: 13px;
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
