div.header-main{
  position: fixed;
  z-index: 1;
  padding-block: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(0, #ffb727, var(--color-primary-main));
}

div.header-main-content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

h1,div.header-main-end{
  width: 200px;
}

h1 {
  padding-top: 10px;
  font-family: "Caveat Brush";
  cursor: pointer;
  font-size: 32px;
}

div.header-main *{
  color: #FFF;
  user-select: none;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
}

header nav a {
  white-space: nowrap;
  padding-inline: 25px;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header nav a:hover{
  color: var(--color-primary-darker-02);
}
