<main>
  <section class="image-presentation">
    <div class="presentation-bg-image"></div>
<span>
  <h1>Welcome to PetSavior</h1>
  <h2>together we can make a little one happier</h2>
</span>
  </section>
  <section class="form-container">
    <form action="">
      <span>
        <h2>Sign in</h2>
        <p>Free access to PetSavior</p>
      </span>
      <label class="form-field">
        <p></p>
        <input type="text">
      </label>
      <label class="form-field">
        <p></p>
        <input type="text">
      </label>
      <div>
        <input type="submit" value="">
        <input type="checkbox" name="" id="">
        <a href="">Forgot password?</a>
      </div>
    </form>
  </section>
</main>
