@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
  --color-primary-main: #FBC34F;
  --color-primary-light: #ffd581;
  --color-primary-darker: #cf9b34;
  --color-primary-darker-02: #a07a2e;

  --color-bg-01: #FFF;
  --color-bg-02: #F2f2f2;

  --outside-border-radius: 24px;
  --inside-border-radius: 12px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Archivo";
}

a{
  text-decoration: none;
}

body{
  overflow-x: hidden;
  background-color: var(--color-bg-02);
}


.card {
  background-color: var(--color-bg-01);
  border-radius: var(--outside-border-radius);
  box-shadow: 0 12px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}
