@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary-main: #FBC34F;
  --color-primary-light: #ffd581;
  --color-primary-darker: #cf9b34;
  --color-primary-darker-02: #a07a2e;

  --color-bg-01: #FFF;
  --color-bg-02: #F2f2f2;

  --outside-border-radius: 24px;
  --inside-border-radius: 12px;

  --color-font-01: #4D4D4D;
  --color-font-01-light: #777777;
  --color-font-02: #D0D0D0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
  color: var(--color-font-01);
}

a, input{
  text-decoration: none;
}

input{
  border: none;
}

input:focus{
  border: none;
  outline: none;
}

body{
  overflow-x: hidden;
  background-color: var(--color-bg-02);
}


.card {
  background-color: var(--color-bg-01);
  border-radius: var(--outside-border-radius);
  box-shadow: 0 12px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}


label.form-field p{
  font-size: 15px;
  font-weight: bold;
}

input.text {
  border: solid 1px var(--color-font-02);
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
  color: var(--color-font-01-light);
}

.button-main-action {
  border-radius: 6px;
  padding: 10px;
  background: var(--color-primary-main);
  color: black;
  font-weight: bolder;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-main-action:hover{
  background: var(--color-primary-darker);
}

.form-field{
  width: 100%;
}

.form-field p{
  margin: 0;
}

.form-field input{
  width: 100%;
}

.form-field{
  padding-bottom: 22px;
}
