/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary-main: #FBC34F;
  --color-primary-light: #ffd581;
  --color-primary-darker: #cf9b34;

  --color-bg-01: #FFF;
  --color-bg-02: #F2f2f2;
}
